{% extends "Base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
<div class="container mt-5">
        <div class="card">
            <img src="{{ url_for('static', filename=post.thumb) }}" class="card-img-top" alt="Post Thumbnail">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.date_posted.strftime('%B %d, %Y') }} by {{ post.author.username }}</p>
                <img src="{{ url_for('static', filename=post.author.userImg) }}" alt="Author Photo" class="img-fluid rounded-circle" style="width: 35px; height: 35px;">
                <span class="ms-2">{{ post.author.username }}</span>
                <hr>
                <div class="card-text">
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
     </div>
{% endblock %}