{% extends "components/layout.html" %}
{% block title %}About Us - {{ params["blog_web_name"] }} {% endblock %}
{% block body %}
<div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">About Us</h2>
                        <p class="card-text">
                            Welcome to My Blog! We are passionate about sharing knowledge, experiences, and ideas through our blog posts. Our goal is to create a community where people can learn and engage with interesting and valuable content.
                        </p>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium imperdiet turpis in facilisis. Quisque bibendum vestibulum ex, sit amet hendrerit libero ullamcorper sit amet.
                        </p>
                        <p class="card-text">
                            Feel free to explore our blog, and don't hesitate to reach out if you have any questions or suggestions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}